<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <title>Pagina de creditos</title>
  </head>
  <body>
  <div class="caja">
    <header id="h1">
      <h1>Autor de la página: <%= autor %></h1>
    </header>

    <nav role="navigation">
    	<span><a href="/">Volver a pagina inicial</a></span>
		</nav>

    <div><img src="images/FOTO24.JPG" ></div>
    <div class="vid1"><iframe width="720" height="300" src="https://www.youtube.com/embed/TIGNa0dFrrU?autoplay=1" frameborder="0"></iframe></div>

   <footer><a href="https://github.com/cmora-1/quiz-e9">Acceso al repositorio en GitHub</a></footer>

  </div>
  </body>
</html>
